In [18]:
import pandas as pd

In [19]:
data = pd.read_csv( 'Mountains.csv', delimiter = ',' )
data.head(10)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0
5,6,Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28.0
6,7,Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39.0
7,8,Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45.0
8,9,Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67.0
9,10,Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47.0

In [55]:
data1 = data.groupby('Parent mountain').count()

In [56]:
data1

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
Parent mountain,,,,,,,,,,
Annapurna,1,1,1,1,1,1,1,1,1,1
Annapurna I,2,2,2,2,2,2,2,2,2,2
Annapurna III,1,1,1,1,1,1,1,1,1,1
Batura Sar,3,3,3,3,3,3,3,3,3,3
Cho Oyu,7,7,7,7,7,7,7,7,7,7
Chogolisa,2,2,2,2,2,2,2,2,2,2
Churen Himal,1,1,1,1,1,1,1,1,1,1
Dhaulagiri,4,4,4,4,4,4,4,4,4,4
Dhaulagiri II,1,1,1,1,1,1,1,1,1,1
Dhaulagiri IV,3,3,3,3,3,3,3,3,3,3
Distaghil Sar,5,5,5,5,5,5,5,5,5,5
Gangkar Puensum,2,2,2,2,2,2,2,2,2,2
Gangkhar Puensum,2,2,2,2,2,2,2,2,2,2
Gasherbrum I,8,8,8,8,8,8,8,8,8,8
Gasherbrum II,1,1,1,1,1,1,1,1,1,1
Gasherbrum III,1,1,1,1,1,1,1,1,1,1
Ghent Kangri,1,1,1,1,1,1,1,1,1,1
Ismail Samani Peak,1,1,1,1,1,1,1,1,0,0
K2,5,5,5,5,5,5,5,5,5,5
Kamet,3,3,3,3,3,3,3,3,3,3
Kangchenjunga,7,7,7,7,7,7,7,7,7,7
Kanjut Sar,1,1,1,1,1,1,1,1,1,1
Khunyang Chhish,3,3,3,3,3,3,3,3,3,3
Kongur Tagh,2,2,2,2,2,2,2,2,2,1
Kula Kangri,1,1,1,1,1,1,1,1,1,1
Labuche Kang,1,1,1,1,1,1,1,1,1,1
Lhotse,2,2,2,2,2,2,2,2,2,2
Makalu,1,1,1,1,1,1,1,1,1,1
Malubiting,2,2,2,2,2,2,2,2,2,2
Manaslu,3,3,3,3,3,3,3,3,3,3
Masherbrum,1,1,1,1,1,1,1,1,1,1
Momhil Sar,1,1,1,1,1,1,1,1,1,1
Mount Everest,9,9,9,9,9,9,9,9,9,9
Muztagh Ata,1,1,1,1,1,1,1,1,0,0
Nanda Devi,2,2,2,2,2,2,2,2,2,2
Noshaq,2,2,2,2,2,2,2,2,2,2
Pumari Chhish,1,1,1,1,1,1,1,1,1,1
Rakaposhi,1,1,1,1,1,1,1,1,1,1
Rimo I,1,1,1,1,1,1,1,1,1,1
Saltoro Kangri,2,2,2,2,2,2,2,2,2,2
Saser Kangri I,2,2,2,2,2,2,2,2,2,2
Shisha Pangma,4,4,4,4,4,4,4,4,4,4
Shishapangma,1,1,1,1,1,1,1,1,1,1
Shispare,1,1,1,1,1,1,1,1,1,1
Skil Brum,2,2,2,2,2,2,2,2,2,2
Skil Brum (K2),1,1,1,1,1,1,1,1,1,1
Teram Kangri I,3,3,3,3,3,3,3,3,3,3
Teram Kangri III,1,1,1,1,1,1,1,1,1,1
Tirich Mir,1,1,1,1,1,1,1,1,1,1
Tongshanjiabu,1,1,1,1,1,1,1,1,1,1
Trivor,1,1,1,1,1,1,1,1,1,1
Yukshin Gardan Sar,1,1,1,1,1,1,1,1,1,1

In [63]:
data2 = data1.loc[:, ['Mountain']]

In [64]:
data2

                    Mountain
Parent mountain
Annapurna                  1
Annapurna I                2
Annapurna III              1
Batura Sar                 3
Cho Oyu                    7
Chogolisa                  2
Churen Himal               1
Dhaulagiri                 4
Dhaulagiri II              1
Dhaulagiri IV              3
Distaghil Sar              5
Gangkar Puensum            2
Gangkhar Puensum           2
Gasherbrum I               8
Gasherbrum II              1
Gasherbrum III             1
Ghent Kangri               1
Ismail Samani Peak         1
K2                         5
Kamet                      3
Kangchenjunga              7
Kanjut Sar                 1
Khunyang Chhish            3
Kongur Tagh                2
Kula Kangri                1
Labuche Kang               1
Lhotse                     2
Makalu                     1
Malubiting                 2
Manaslu                    3
Masherbrum                 1
Momhil Sar                 1
Mount Everest              9
Muztagh Ata                1
Nanda Devi                 2
Noshaq                     2
Pumari Chhish              1
Rakaposhi                  1
Rimo I                     1
Saltoro Kangri             2
Saser Kangri I             2
Shisha Pangma              4
Shishapangma               1
Shispare                   1
Skil Brum                  2
Skil Brum (K2)             1
Teram Kangri I             3
Teram Kangri III           1
Tirich Mir                 1
Tongshanjiabu              1
Trivor                     1
Yukshin Gardan Sar         1

In [66]:
data2.query('Mountain > 3')

                 Mountain
Parent mountain
Cho Oyu                 7
Dhaulagiri              4
Distaghil Sar           5
Gasherbrum I            8
K2                      5
Kangchenjunga           7
Mount Everest           9
Shisha Pangma           4